.checkboxes-wrapper {
  display: grid;
  gap: 0.5rem;
}

.checkboxes-horizontal {
  @extend .checkboxes-wrapper;

  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}

.checkboxes-vertical {
  @extend .checkboxes-wrapper;
}
